HEADER_PASSWORD = "Door!PasswprD"
GMAIL_USER = "MyUser@gmail.com"
GMAIL_PASS = "pnhgjdkjuiztxbgd"
GMAIL_FROM_ADDRESS = "Users\'s Garage Raspberry Pi"

TO_ADDRESS_EMAIL = "user@yahoo.com"
TO_ADDRESS_NUMBER = "8045551212@messaging.sprintpcs.com"

TO_ADDRESS_EMAIL_2 = "user2@gmail.com"
TO_ADDRESS_NUMBER_2= "7035551212@vtext.com"

SECRET_STARTUP_MESSAGE="Users's Garage Door Python program started"
